parameters:
	level: 9
	paths:
		- app
		- tests
	bootstrapFiles:
		- vendor/codeigniter4/framework/system/Test/bootstrap.php
	scanDirectories:
		- vendor/codeigniter4/framework/system/Helpers
	excludePaths:
		- app/Views/errors/*
	codeigniter:
		additionalModelNamespaces:
			- CodeIgniter\Shield\Models\
		additionalServices:
			- CodeIgniter\Settings\Config\Services
			- CodeIgniter\Shield\Config\Services
			- CodeIgniter\Queue\Config\Services
	ignoreErrors:
		- '#Call to an undefined method Pest\\PendingCalls\\TestCall\:\:expect\(\)#'
		- '#^Call to an undefined method CodeIgniter\\Cache\\CacheInterface\:\:deleteMatching\(\)#'
		- '#\$callback of static method CodeIgniter\\Events\\Events\:\:on\(\) expects callable\(mixed\)\: mixed#'
		- identifier: missingType.generics
		- identifier: echo.nonString
		-
			identifier: method.void
			path: app/Views/*
