parameters:
	level: 9
	paths:
		- app
		- tests
	excludePaths:
		- app/Views/errors/*
	bootstrapFiles:
		- vendor/codeigniter4/framework/system/Test/bootstrap.php
	scanDirectories:
		- vendor/codeigniter4/framework/system/Helpers
	ignoreErrors:
		- '#Call to an undefined method Pest\\PendingCalls\\TestCall\:\:expect\(\)#'
		- identifier: property.readOnlyByPhpDocDefaultValue